<div class="col-sm-12 footer">
    <div class="col-sm-3">
        <div class="col-sm-12">
        <img src="/img/logo.jpg" class="footer-img" >
        </div>
    </div>
    <div class="col-sm-3">
        <div class="col-sm-12">
            <h3> About DattaTech</h3><br><br>
        </div>
        <div class="col-sm-12">
            <div><a class="footer-font" style="color: black;"  href="/">Home</a></div><br>
            <div><a class="footer-font" style="color: black;" href="/about">About Us</a></div><br>
            <div><a class="footer-font" style="color: black;" href="/services">Services</a></div><br>
            <div><a class="footer-font" style="color: black;" href="/contact">Contact Us</a></div><br>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="col-sm-12">
            <h3>Contact Us</h3><br><br>
        </div>
        <div class="col-sm-12">
            <p class="footer-font"> info@dattatechconsulting.com</p>
            <br>
            <p class="footer-font">Mon-Fri: 9:00 AM – 5:00 PM</p>
            <br>
            <p class="footer-font">xxx-xxx-xxxx </p>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="col-sm-12">
            <h3>Find Us</h3><br><br>
        </div>
        <div class="col-sm-12">
            <p class="footer-font">136, BRADDOCK PRIVATE </p>
            <p class="footer-font">K2J 0E6, OTTAWA ONTARIO</p>
            <p class="footer-font"> CANADA </p>
        </div>
    </div>
    
</div>