<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>
</head>

<body>
  <% include partials/menu %>
  <div class="row" style="height: 45px;">
    <ul class="breadcrumb">
      <li style="color: black;">You are here:</li>
      <li><a href="/">Home</a></li>
     <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
  <div class="container-fluid bg-3 text-center">
    <div class="row">
      <div class="col-sm-5" style="color: #8c4b4a;">
        <div class="row" style="padding: 43px;">
          <div class="col-sm-12 contact-us" style="color: cadetblue;">
            <h1 style="color: #8c4b4a;">Contact Us</h1>
          </div>
          <div class="col-sm-12 contact-us">
            <h2>Looking for help? Fill the form and start a new adventure.</h2>
          </div>
          <div class="col-sm-12 contact-us">
            <div class="col-sm-12">
              <p>
                <span
                  style="font-size: 14px; font-weight: bold; letter-spacing: 2px; float: left; padding-bottom: 10px;">HEADQUARTERS</span>
              </p>
            </div>
            <div class="col-sm-12">
              <div class="col-sm-4 content-icon">
                <i class="fusion-li-icon fa-home fas fa-2x font-icon"></i>
              </div>
              <div class="col-sm-8 content"> 136, BRADDOCK PRIVATE K2J 0E6, OTTAWA
                ONTARIO, CANADA
              </div>
            </div>
          </div>
          <div class="col-sm-12 contact-us">
            <div class="col-sm-12">
              <p><span
                  style="font-size: 14px; font-weight: bold; letter-spacing: 2px; float: left; padding-bottom: 10px;">PHONE</span>
              </p>
            </div>
            <div class="col-sm-12">
              <div class="col-sm-4 content-icon">
                <i class="fas fa-phone fa-2x font-icon"></i>
              </div>
              <div class="col-sm-8 content"> <div class="col-sm-12 contact-text">514-476-1208</div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 contact-us">
            <div class="col-sm-12">
              <p><span
                  style="font-size: 14px; font-weight: bold; letter-spacing: 2px; float: left; padding-bottom: 10px;">SUPPORT</span>
              </p>
            </div>
            <div class="col-sm-12">
              <div class="col-sm-4 content-icon">
                <i class="fas fa-envelope fa-2x font-icon"></i>
              </div>
              <div class="col-sm-8 content"> <div class="col-sm-12" style="font-size: 16px;">dattatec_support@gmail.com</div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-sm-7" style="padding:30px;">
        <div class="container">
          <form action="/submit" method="POST" style="padding: 35px;">
            <div class="col-sm-12">
              <div class="col-sm-6 first">
                <label for="fname" style="color: white;">First Name</label>
                <input type="text" id="fname" name="firstname" placeholder="Your name..">
              </div>
              <div class="col-sm-6 first" style="color: white;">
                <label for="lname">Last Name</label>
                <input type="text" id="lname" name="lastname" placeholder="Your last name..">
              </div>
            </div>
            <div class="col-sm-12">
              <div class="col-sm-6 first" style="color: white;">
                <label for="fname">Email</label>
                <input type="text" id="email" name="email" placeholder="Your email..">
              </div>
              <div class="col-sm-6 first" style="color: white;">
                <label for="lname">Phone</label>
                <input type="text" id="phone" name="phone" placeholder="Your phone..">
              </div>
            </div>
            <div class="col-sm-12">
              <label for="subject"style="color: white;" >Subject</label>
              <input type="text" id="subject" name="subject" placeholder="Your subject..">
            </div>
            <div class="col-sm-12">
              <label for="subject" style="color: white;">Message</label>
              <textarea id="Message" name="Message" placeholder="Write something.." style="height:200px"></textarea>
            </div>
            <input type="submit" value="SUBMIT">
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
<% include partials/footer %>
<% include partials/script %>

</html>