<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
  <div class="row" style="margin-right: 0px;">
     <img src="/img/Ottawa.jpg" class="home-img" alt="Ottawa City">
  </div>
  <div class="row" style=" background-color: #f2f2f2; padding: 40px; margin-left: 0px; margin-right: 0px;">
    <div class="col-sm-6" style="padding: 40px;"> 
      <div class="row">
        <h2 class="home-heading">Why Datta Tech ?</h2>
      </div>
      <hr>
      <div class="row">
        <div class="row"><h3><b style="float: left;">Quick Time response</b></h3> 
          <p style="font-size: 20px; text-align: left;"> &nbsp; Quick Time Response: Our Team is ready
             all time to provide support in a very quick time</p><br></div>
        <div class="row"><h3> <b style="float: left;">Scale to any size:</b> </h3>
           <p style="font-size: 20px; text-align: left;"> &nbsp; Our producst scale with you 
          where you are, and as you grow., where you
          are and as you grow</p><br>
        </div>
        <div class="row"> <h3> <b style="float: left;">24/7 Remote Support:</b></h3>
        </div>
          <div class="row"> <h4> <b style="float: left;">24/7 Remote Support:</b></h4> 
            <p style="font-size: 20px; text-align: left;">&nbsp; Our team is available 24*7 to fix 
            the issue, if something is broken down.</p>
          </div>
          <div class="row"> <h4> <b style="float: left;">Reduce Cost:</b></h4> 
            <p style="font-size: 20px; text-align: left;">&nbsp; Through Flexible plans and IT expert consulting</p>
          </div>
          <div class="row"> <h4> <b style="float: left;">Enhance Security:</b></h4> 
            <p style="font-size: 20px; text-align: left;">&nbsp; Cyberthreats are everywhere. External. 
              Internal. When it comes to security and compliance, 
              we’ve got your back.</p>
          </div>
        </div>
    </div>

    <div class="col-sm-6" style="padding: 40px;"> 
      <div class="row">
        <h2 class="home-heading">Testimonials</h2>
      </div>
      <hr>
      <div class="row" style="padding-top: 25px;">
          <i style="font-size: 20px;"> “What I like about Datta Tech Consulting is the quick, personalized service we receive
             to solve whatever issues we might be experiencing. Whatever issue we have,
              we know when we call them, it will be solved. We are always left with the
               impression that they understand how important it is for the continuity of
              our business not to have any downtime on the system, and they treat us as
               a priority.”Quick Response Time Scale to any size: Our producst scale with you 
            where you are, and as you grow., where you are and as you grow</i>  
      </div>
    </div>

  </div>

  <div class="row" style="padding: 80px;">
    <div class="row"> <h2 style="text-align: center;"> <u>Industries served</u></h2></div>
    <div class="row" style="padding-top: 40px;">
      <div class="col-sm-3"> <i class="fas fa-medkit fa-5x"></i> <b style="font-size: 20px;"> &nbsp; &nbsp;Healthcare</b></div>
      <div class="col-sm-3"> <i class="fas fa-university fa-5x"></i> <b style="font-size: 20px;"> &nbsp; &nbsp;Education</b></div>
      <div class="col-sm-3"> <i class="fas fa-sign fa-5x"></i> <b style="font-size: 20px;"> &nbsp; &nbsp;Real Estate</b></div>
      <div class="col-sm-3"> <i class="fas fa-industry fa-5x"></i> <b style="font-size: 20px;"> &nbsp; &nbsp;Manufacturing</b></div>
    </div>
  </div>

  <div class="row" style=" background-color: #f2f2f2; padding: 40px; margin-left: 0px; margin-right: 0px; margin-top: 50px;">
    <div class="col-sm-3">
      <img src="/img/icon-our-unique-approach2.png">
    </div> 
    <div class="col-sm-9"> 
      <p style="font-size: 25px;">DATTA Tech Consulting is a leading provider of powerful and affordable IT infrastructure management
       software. Our products give organizations worldwide, regardless of type, size, or IT infrastructure
       complexity, the power to monitor and manage the performance of their IT environments, whether on-
       premise, in the cloud, or in hybrid models.</p>
    </div> 
   </div>



  <div class="row" style="padding: 80px;">
    <div class="row"> <h2 style="text-align: center; margin-bottom: 35px;;"> <u>IT Services </u></h2></div>
    <div class="row it-row">
      <div class="col-sm-1"></div>
      <div class="col-sm-5"> <i class="fas fa-network-wired fa-5x"style="float: left;"></i> <b style="font-size: 20px;">NETWORK MANAGEMENT</b></div>
      <div class="col-sm-1"></div>
      <div class="col-sm-5"> <i class="fas fa-desktop fa-5x" style="float: left;"></i> <b style="font-size: 20px;">SYSTEMS MANAGEMENT</b></div>
    </div>
    <div class="row it-row" >
      <div class="col-sm-1"></div>
      <div class="col-sm-5"> <i class="fas fa-shield-alt fa-5x" style="float: left;"></i> <b style="font-size: 20px;"> IT SECURITY</b></div>
      <div class="col-sm-1"></div>
      <div class="col-sm-5"> <i class="fas fa-database fa-5x" style="float: left;"></i><b style="font-size: 20px;"> DATABASE MANAGEMENT</b></div>
    </div>
    <div class="row it-row">
      <div class="col-sm-1"></div>
      <div class="col-sm-5"> <i class="fas fa-headset fa-5x"style="float: left;"></i> <b style="font-size: 20px;"> IT HELP DESK</b></div>
      <div class="col-sm-1"></div>
      <div class="col-sm-5"> <i class="fas fa-tasks fa-5x" style="float: left;"></i> <b style="font-size: 20px;">APPLICATION MANAGEMENT</b></div>
    </div>
    </div>
  </div>

</div>

</body>
<% include partials/footer %>
<% include partials/script %>
</html>