<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-center">    
  <h3><u><%= page %></u></h3><br>
<div class="row">
    <img src="/img/managed-it-services.jpg" alt="DATTA TECH" class="about-mainimg">
</div>
<div class="row" style="padding: 130px; padding-top: 50px;">
  <div class="row" style="padding-left: 320px;">
    <h2 style="float: left; color: #b9dfe0;"> <u></u>What is Managed IT Services? </u></h2>
  </div>
  <div class="row" style="padding-left: 66px;">
    <h3 class="about-text">Managed IT Services is the outsourcing of your IT systems.
       We manage your IT environment as if we were your very own in-house IT staff. We take out all
       the frustration and worry of managing your own IT infrastructure. 
       Your organization benefits from reduced costs, 24/7 motioning and support, 
       increased productivity and enhanced customer service. <br><br>
       By allowing Calitso to be your Managed Service provider you have an entire team dedicated to your success
       providing proactive support, fast response, and expert IT solutions.</h3>
  </div>

</div>





<div class="row" style="background-color: #b9dfe0; padding: 80px; margin-left: 0px; margin-right: 0px;">
  <div class="row"> <h2 style="text-align: center; margin-bottom: 35px;;"> <u>Services </u></h2></div>
  <div class="row it-row">
    <div class="col-sm-1"></div>
    <div class="col-sm-5"> <i class="fas fa-network-wired fa-5x"style="float: left;"></i> <b style="font-size: 20px;">NETWORK MANAGEMENT</b></div>
    <div class="col-sm-1"></div>
    <div class="col-sm-5"> <i class="fas fa-desktop fa-5x" style="float: left;"></i> <b style="font-size: 20px;">SYSTEMS MANAGEMENT</b></div>
  </div>
  <div class="row it-row" >
    <div class="col-sm-1"></div>
    <div class="col-sm-5"> <i class="fas fa-shield-alt fa-5x" style="float: left;"></i> <b style="font-size: 20px;"> IT SECURITY</b></div>
    <div class="col-sm-1"></div>
    <div class="col-sm-5"> <i class="fas fa-database fa-5x" style="float: left;"></i><b style="font-size: 20px;"> DATABASE MANAGEMENT</b></div>
  </div>
  <div class="row it-row">
    <div class="col-sm-1"></div>
    <div class="col-sm-5"> <i class="fas fa-headset fa-5x"style="float: left;"></i> <b style="font-size: 20px;"> IT HELP DESK</b></div>
    <div class="col-sm-1"></div>
    <div class="col-sm-5"> <i class="fas fa-tasks fa-5x" style="float: left;"></i> <b style="font-size: 20px;">APPLICATION MANAGEMENT</b></div>
  </div>
  </div>






<div class="row"  style="padding: 40px; margin-left: 0px; margin-right: 0px;">
  <div class="row" style="padding-bottom:40px;">
    <h2><u>Benefits of Managed IT services</u></h2>
  </div>
  <div class="row" style="height: 450px;">
    <div class="col-xs-4 inner-divs">
      <div class="row">
        <h2 style="text-align: center;"> Access to the latest and greatest in technology</h2>
      </div>
      <div class="row">
        <p class="about-text">You may have noticed how rapidly software and hardware becomes obsolete in this
           industry. How is one staff person going to keep up-to-date with everything? Datta Tech Consulting
            gives you the benefit of having more than just one IT professional. And since it's the core competency
             of the company, they can give you sound advice to put your IT dollars to work for you. <br><br></p>
      </div>
    </div>
    <div class="col-xs-6">
       <img src="/img/top-trend.png" style="height: 450px; width: 135%;">
    </div>
  </div>



  <div class="row" style="height: 450px; margin: 8px; margin-left: -27px; margin-right: -9px;">
    <div class="col-xs-6">
       <img src="/img/cost.jpeg" style="height: 450px; width: 135%; float: left;">
    </div>
    <div class="col-xs-4 inner-divs" style="float: right;">
      <div class="row">
        <h2 style="text-align: center;"> Cost savings</h2>
      </div>
      <div class="row">
        <p class="about-text">Outsourcing your IT services provides financial benefits such as Infrastructure cost,
          Manpower and software licenses, as well as potential compliance with government regulations. <br><br></p>
      </div>
    </div>
  </div>


  <div class="row" style="height: 450px;">
    <div class="col-xs-4 inner-divs">
      <div class="row">
        <h2 style="text-align: center;"> High quality of staff</h2>
      </div>
      <div class="row">
        <p class="about-text">Since it's their core competency, outsourced IT vendors 
          look to hire staff with specific qualifications and certifications. You may
           not know what to look for if you're hiring someone to be on staff full-time, 
           so you may hire the wrong person for the job.
          <br><br></p>
      </div>
    </div>
    <div class="col-xs-6">
       <img src="/img/staff.jpeg" style="height: 450px; width: 135%;">
    </div>
  </div>

  <!-- <div class="row">
    <div class="col-xs-4 inner-divs">
      <div class="row">
        <h2 style="text-align: center;"> Access to the latest and greatest in technology</h2>
      </div>
      <div class="row">
        <p class="about-text">You may have noticed how rapidly software and hardware becomes obsolete in this
           industry. How is one staff person going to keep up-to-date with everything? Datta Tech Consulting
            gives you the benefit of having more than just one IT professional. And since it's the core competency
             of the company, they can give you sound advice to put your IT dollars to work for you. <br><br></p>
      </div>
    </div>
    <div class="col-xs-3 inner-divs inner-div">
        <h2 style="text-align: center;">Cost savings</h2>
      <div class="row">
        <p class="about-text">Outsourcing your IT services provides financial benefits such as Infrastructure cost,
           Manpower and software licenses, as well as potential compliance with government regulations. <br><br></p>
      </div>
    </div>
    <div class="col-xs-4 inner-divs">
      <div class="row">
        <h2 style="text-align: center;"> High quality of staff</h2>
      </div>
      <div class="row">
        <p class="about-text">Since it's their core competency, outsourced IT vendors 
          look to hire staff with specific qualifications and certifications. You may
           not know what to look for if you're hiring someone to be on staff full-time, 
           so you may hire the wrong person for the job.
          <br><br></p>
      </div>
    </div>-->
  <!-- </div> 
</div> -->
  
</div>

</body>
<% include partials/footer %>
<% include partials/script %>
</html>