.bg-3 { 
      background-color: #ffffff;
      color: #555555;
  }
  .container-fluid {
      padding-right: 0px;
      background-color: aliceblue;
  }
  .navbar {
      padding-top: 15px;
      padding-bottom: 30px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
      background-color:#292929;
  }
  .navbar-nav  li a:hover {
      color: #292929 !important;
  }

  .active>a {
    color: #1abc9c !important;;
  }

  .about-img {
    width: 100%;
    height: auto;
    padding-top: 25px;
  }

  /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color:#292929;
    padding: 30px;
    width: 100%;
  }

  label{
      float: left;
  }

  .contact-us{
      padding-bottom: 50px;
  }

  .content{
    float: right;
    padding-top: 10px;
  }

  .content-icon{
    padding-top: 10px;
  }

  .font-icon{
      color: #fe865d;
      float: right;
  }

  .first{
    padding-left: 0px;
  }

  .footer-img{
    width: 100%;
    height: auto;
    padding: 50px;
  }

  .footer{
      background-color:#292929;
  }
  .footer-li{
      color: black;
  }

  .text{
    font-size: 15px;
    color: white;
  }

  .footer-font{
      font-size: 15px;
      color: white;
  }

  .contact-text{
    font-size: 17px;
    margin-left: -54px;
  }

  .home-img{
    width: 100%;
    padding: 40px;
  }

  .home-heading{
    color: #b18282;
    float: left;
  }

  .box1 {
    display: block;
    padding: 10px;
    margin-bottom: 100px; /* SIMPLY SET THIS PROPERTY AS MUCH AS YOU WANT. This changes the space below box1 */
    text-align: justify;
}

.box2 {
    display: block;
    padding: 10px;
    text-align: justify;
    margin-top: 100px; /* OR ADD THIS LINE AND SET YOUR PROPER SPACE as the space above box2 */
}
  hr{
    border-top: 2px solid #b18282 ;
    width: 100%;
  }
  .it-row{
    padding-top: 40px;
    margin-bottom: 40px;
  }

  .about-mainimg{
    height: 450px;
    width:100%;
    margin-bottom: 40px;;
  }

  .about-text{
   text-align: left;
   font-size: 20px;
  }

  .inner-divs{
    background-color: antiquewhite;
    margin: 2px;
    height: 450px;

  }
  .inner-div{
    margin-right: 20px;
    margin-left: 20px;
    width: 388px;
  }
  .main-page-text{
    font-size: 25px;
    margin: 40px;
    text-align: center;
  }
  .indus-text{
    text-align: left;
    margin-top: 12px;
    font-size: 18px;
  }

  /* login form  */

  .login-form {
    width: 300px;
    margin: 0 auto;
    font-family: Tahoma, Geneva, sans-serif;
  }
  .login-form h1 {
    text-align: center;
    color: #4d4d4d;
    font-size: 24px;
    padding: 20px 0 20px 0;
  }
  .login-form input[type="password"],
  .login-form input[type="text"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    box-sizing:border-box;
  }
  .login-form input[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #535b63;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
  }
  .intro-text{
    color: #e0cbcb;
    font-size: 25px;;
  }

























  /* Slideshow container */
.slideshow-container {
  position: relative;
  background: #f1f1f1f1;
}

/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background: #ddd;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: cornflowerblue;}